@CHARSET "UTF-8";



h3.title {
	text-align:center;
}

.line {
	margin-top: 25px;
	height: 1px; 
	padding: 0;
	border-top: 1px solid black;
}

.img-404, .img-403 {
	position:relative;
	left:50%;
	margin-left: -85px;
}

.img-403 {
	margin-left:-147px;
}



.emp-info {
	text-align:center;
}

 .table-bordered tbody tr .number,  .table-bordered thead tr .number, .table-bordered tbody tr td.edit {

	text-align:center;
} 
.table-bordered tbody tr td.name {
	text-align: left;
	border-right: none;
}	


td.number, th.number, td.edit {
	width:37px;
}
 .table-bordered tbody tr td.edit, .table-bordered tbody tr th.edit {
	border-left:none;
	border-right:none;
}

#jstree {
  margin-top: -14px;
  margin-left: -4px;
}
/* #jstree {
	padding:0 5px 10px 0;
	font: bold 11px Tahoma;
	margin-top: -4px;
} */

form#loginform{
	width:auto;
}


.my-row label.tit {
    font:bold 14px  Arial,Helvetica,sans-serif;
    text-align:center;
}

.my-row p.all, .my-row div.all {
    font-size:12px;
}
.my-row p {
    clear:both;
    overflow:hidden;
}

.my-row p.a-c {
    text-align:center;
}


.product {
	 
}
#remove {
	font-size:1em;
}
.product img {
	float:left;
	display:block;
	margin-right: 10px;
}

.product strong {
	display:block;
	overflow:hidden;
}
.product p { 
	overflow:hidden;
}

.item {
	float:left;
	margin-left: 14px;
    margin-right: 6px;
    padding:10px 0;
	width: 213px;
	overflow:hidden;
	height: 390px;
}

.item p {
	margin: 10px 0 5px;
}

.pages {
	clear:both;
	text-align:center;
}

.sorting {
	font-size: 13px;
}
